.nav a {
    color: #00BD9C;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus {
    color: #00526e;
    text-decoration: underline;
}

nav a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a {
    color: white;
}

a.black {
    color: black;
}

.background-green {
    min-width: 100%;
    background-color:rgba(51, 202, 176, 0.6);
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.width-200 {
    width: 200px !important;
}

div.img-carousel {
    margin: 10px;
}

.img-carousel img {
    max-height: 150px;
}

.height-400 {
    height: 400px;
}

.head-title {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: right;
    padding-right: 50px;
    float: right;
    top: 320px;
}

.header {
    font-size: 30px;
    font-weight: 700;
}
div.stars .glyphicon {
    font-size: 28px;
    color: #0bcb9a;
}

.label-normal {
    font-size: 20px;
}

.float-right {
    float: right;
}

.pre-header {
    margin-top: 35px;
    height: 39px;
}

.festival-info {
    height: 215px;
}

.indent-right {
    margin-right: 7px;
}

.text-align-center {
    text-align: center;
}

.section {
    margin-bottom: 15px;
}

.padding-left-0 {
    padding-left: 0;
}

.slick-next,
.slick-prev {
    background: green !important;
}
