.festival-block {
    min-height: 100px;
    height: 100px;
    border: #0000f6 solid 1px;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.festival-block span {
    color: black;
}

.festival-block:hover {
    cursor: pointer;
}

.festival-block a {
    text-decoration: none;
}

.festival-active {
    background-color: #0bcb9a;
}

.festival-active span {
    color: white;
}
